<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
</head>
<body>
  <div  class="main">
    {% if message %}
    <p> {{ message }} </p>
       <a href="/">Back to Home</a>
    {% endif %}
    {% if user %}
      <br />Welcome {{ user }}
      <br /><br />You are successfully logged in!
      <br /><br />
      <a href="/logout">Logout?</a>
    {% else %}
      <form action="/" method="post">
        User: <input type="text" name="user">
        Password: <input type="password" name="password">
        <input type="checkbox" id="remember" name="remember"> <label for="remember">Remeber Me</label>
        <input type="submit" value="Login">
      </form>
      <a href="/register">Register</a>
    {% endif %}
  </div>
</body>
</html>